    *{
			box-sizing:border-box;
	}
	body {
		margin:0;
		background:gray;
		justify-content: center;
		align-items: center;
	}
	nav {
		background:#594848;
		width:100%;
		overflow:auto;
	}
	ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	li {
		float:left;
	}
	nav a {
		width:120px;
		display:block;
		text-decoration:none;
		text-align:center;
		background:#594848
		font-size:17px;
		color:white;
		padding:20px 10px;
		font-family:Arial;
	}
	nav a:hover {
		background:skyblue;
		color:black;
	}
	#overlay {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	form {
		max-width: 550px;
		width: 90%;
		background: white;
		margin: 7vh auto 0 auto;
		padding: 40px;
		border-radius: border-box;

	}
	h1 {
		margin: 0;
		text-align: center;
	}
	label {
		display: block;
		margin: 15px 0;
	}
	input, textarea {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		outline: none;
		resize: none;
		border: none;
		border-bottom: 1px solid #D3D3D3;
	}
	input[type="text"]:focus, textarea:focus {
		border-bottom: 1px solid rgba(255, 0, 106);
	}
	textarea::-webkit-scrollbar {
		width: 4px;
	}
	textarea::-webkit-scrollbar-thumb {
		background-color: rgba(255, 0, 106);
	}
	.center {
		text-align: center;
	}
	input[type="submit"] {
		margin-top: 30px;
		width: 90%;
		max-width: 200px;
		background: gray;
		color: white;
		font-size: 17px;
		cursor: pointer;
		border-radius: 3px;
	}
	.error {
		color: red;
	}
	.error-border {
		border-bottom: 1px solid red;
	}
	#success {
		color: #28a745;
	}