*{
            box-sizing:border-box;
        }
    body {
        margin:0;
        background:gray;
    }
    nav {
        background:#594848;
        width:100%;
        overflow:auto;
    }
    ul {
        margin:0;
        padding:0;
        list-style:none;
    }
    li {
        float:left;
    }
    nav a {
        width:120px;
        display:block;
        text-decoration:none;
        text-align:center;
        background:#594848
        font-size: 17px;
        color:white;
        padding:20px 10px;
        font-family:Arial;
    }
    nav a:hover {
        background:skyblue;
        color:black;
    }
    .wrapper {
        position: absolute;
        top: 130%;
        padding-bottom: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
        display: flex;
        box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    }
    .wrapper .left {
        width: 35%;
        background: linear-gradient(to right, #01a9ac, #01dbdf);
        padding: 30px 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        color: #fff;
    }
    .wrapper .left img {
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .wrapper .left h4 {
        margin-bottom: 10px;
    }
    .wrapper .left p {
        font-size: 12px;
    }
    .wrapper .right {
        width: 200%;
        background: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 50px 25px;
    }
    .wrapper .right .info,
    .wrapper .right .projects,
    .wrapper .right .experience,
    .wrapper .right .activities,
    .wrapper .right .education {
        margin-bottom: 25px;
    }
    .wrapper .right .info h3,
    .wrapper .right .projects h3,
    .wrapper .right .experience h3,
    .wrapper .right .activities h3,
    .wrapper .right .education h3 {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
        color: #353c4e;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .wrapper .right .info_data,
    .wrapper .right .projects_data,
    .wrapper .right .exp_data,
    .wrapper .right .activities_data,
    .wrapper .right .education_data {
        display: flex;
        justify-content: space-between;
    }
    .wrapper .right .info_data .data,
    .wrapper .right .projects_data .data,
    .wrapper .right .exp_data .data,
    .wrapper .right .activities_data .data,
    .wrapper .right .education_data .data {
        width: 45%;
    }
    .wrapper .right .info_data .data h4,
    .wrapper .right .projects_data .data h4,
    .wrapper .right .exp_data .data h4,
    .wrapper .right .activities_data .data h4,
    .wrapper .right .education_data .data h4 {
        color: #353c4e;
        margin-bottom: 5px;
    }
    .wrapper .right .info_data .data p,
    .wrapper .right .projects_data .data p,
    .wrapper .right .exp_data .data p,
    .wrapper .right .activities_data .data p,
    .wrapper .right .education_data .data p {
        font-size: 13px;
        margin-bottom: 10px;
        color: #919aa3;
    } 